* {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width : 10px;
  height: 10px;
  background-color: #ededed;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: skyblue;
}
::-webkit-scrollbar-track {
  background: #ededed;
  border-radius: 5px;
}
::-webkit-scrollbar-corner {
  background: #ededed;
}
@media screen and (max-width: 1280px){
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.up {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 30px;
  background-color: #cdcdcd;
  padding: 5px 0;
}
.up button {
  height: 100%;
  padding: 0 10px;
  border: 1px solid #bbb;
	border-radius: 3px;
	background-color: #ddd;
	cursor: pointer;
	outline: none;
}
.up button:active{
  background: #e9e9e9;
  position: relative;
  top: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}
.up .input-box {
  display: flex;
  height: 100%;
  width: 25%;
}
.up select {
  box-sizing: content-box;
  height: 100%;
  outline: none;
  border: 1px solid #bbb;
}
.up input {
  height: 100%;
  padding: 0 10px;
  flex-grow: 1;
  outline: none;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid #bbb;
}

.shadow {
  width: 100%;
  height: 10px;
  background-image: linear-gradient(#cdcdcd, #ededed);
}

.down {
  position: relative;
  flex-grow: 1;
  background-color: #ededed;
  overflow: scroll;
}

.element {
  position: absolute;
  display: flex;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  left: -50px;
  top: -50px;
}
.item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #33ff33;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  user-select: none;
  box-shadow: 5px 5px 15px #888888;
  overflow: hidden;
  transition: background-color 0.5s;
}
.item:hover {
  cursor: pointer;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 25px;
}
.choosing {
  border: 10px solid #33bbdd;
  background-color: transparent;
}

.draw {
  position: absolute;
}